<div *ngIf="globalMessage">
    <div *ngIf="!globalMessage.ok" id="toast-container" class="toast-top-right">
        <div class="toast toast-error" aria-live="polite">
            <button type="button" class="toast-close-button"
                role="button" (click)="close()">×</button>
            <div class="toast-title">ERROR</div>
            <div class="toast-message">{{globalMessage.message}}</div>
        </div>
    </div>

    <div *ngIf="globalMessage.ok" id="toast-container" class="toast-top-right">
        <div class="toast toast-success" aria-live="polite">
            <button type="button" class="toast-close-button"
                role="button" (click)="close()">×</button>
            <div class="toast-title">SUCCESS</div>
            <div class="toast-message">{{globalMessage.message}}</div>
        </div>
    </div>
</div>