<!-- <div *ngIf="error">
    <div *ngIf="error.ok; else errorMessage" id="errorMsg" class="alert alert-success" role="alert">
        <strong>SUCCESS!</strong> {{error.statusText}}
        <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <ng-template #errorMessage>
        <div class="alert alert-danger" id="errorMsg" role="alert">
            <strong>ERROR! </strong> {{error.statusText}}
            <button type="button" class="close" (click)="hideError()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>        
    </ng-template>
</div> -->
<div *ngIf="globalMessage">
    <div *ngIf="!globalMessage.ok" id="toast-container" class="toast-top-right">
        <div class="toast toast-error" aria-live="polite">
            <button type="button" class="toast-close-button"
                role="button" (click)="close()">×</button>
            <div class="toast-title">ERROR</div>
            <div class="toast-message">{{globalMessage.statusText}}</div>
        </div>
    </div>

    <div *ngIf="globalMessage.ok" id="toast-container" class="toast-top-right">
        <div class="toast toast-success" aria-live="polite">
            <button type="button" class="toast-close-button"
                role="button" (click)="close()">×</button>
            <div class="toast-title">SUCCESS</div>
            <div class="toast-message">{{globalMessage.statusText}}</div>
        </div>
    </div>
</div>
<!-- <div *ngIf="globalMessage" class="errorBox">
    <div *ngIf="globalMessage.ok" class="succ">
        <span>SUCCESS! </span>
        <span>{{globalMessage.statusText}}</span>
    </div>
    <div *ngIf="!globalMessage.ok" class="err">
        <span>OOPS! </span>
        <span>{{globalMessage.statusText}}</span>
    </div>
    <button (click)="close()" class="close">X</button>
</div> -->