<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">My All Holdings</h5>
                <table class="mb-0 table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Scheme</th>
                            <th>Invested Amount</th>
                            <th>Current Value</th>
                            <th>Current Gain</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of holdingList">
                            <th scope="row"><img width="42" src="assets/images/avatars/{{item.imgPath}}" alt=""></th>
                            <td>{{item.schemeName}} </td>
                            <td>{{item.investedAmount}} </td>
                            <td>{{item.cmv}}</td>
                            <td><span>{{item.currentGain}} ({{item.wholeReturn}}%)</span></td>
                            <td><button>Button</button></td>
                            

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>