<div class="row">
    <div class="col-md-5 login-card" style="margin: auto;">
        <div class="main-card mb-12 card">
            <div class="card-body">               
                <div class="card-title">
                    <h5> CREATE ACCOUNT</h5>
                </div>
                <p>Already have an account with us? <a routerLink="/auth/login">Click here</a></p>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                    <div class="position-relative form-group">
                        <input required name="email" id="exampleEmail" placeholder="Email" type="email"
                            class="form-control">
                    </div>
                    <div class="position-relative form-group">
                        <input required name="password" id="examplePassword" placeholder="create password" type="password"
                            class="form-control">
                    </div>
                    <div class="position-relative form-group">
                        <input required name="password" id="examplePasswordMatch" placeholder="confirm password" type="password"
                            class="form-control">
                    </div>
                    <button class="mt-2 mb-2 form-control-lg btn btn-danger"
                        style="width:100%;font-size: 20px;">Sign Up</button>
                   
                </form>
            </div>
        </div>
    </div>
</div>