<div class="row">
    <div class="col-md-5 login-card" style="margin: auto;">
        <div class="main-card mb-12 card">
            <div class="card-body">
                <div class="card-title">
                    <h5> CREATE ACCOUNT</h5>
                </div>
                <p>Already have an account with us? <a routerLink="/auth/login">Click here</a></p>
                <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name">
                        <span class="text-danger"
                            *ngIf="(f.name.touched || submitted) && f.name.errors?.required">
                            Name is required
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" formControlName="email">
                        <span class="text-danger"
                            *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                            Email is required
                        </span>
                        <span class="text-danger"
                            *ngIf="f.email.touched && f.email.errors?.email">
                            Enter a valid email address
                        </span>
                        <span class="text-danger"
                            *ngIf="f.email.touched && f.email.errors?.usernameInUse">
                            email address not available
                        </span>
                    </div>
                    
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="password">
                        <span class="text-danger"
                            *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
                            Password is required
                        </span>
                        <span class="text-danger"
                            *ngIf="f.password.touched && f.password.errors?.invalidPassword">
                            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                            letter and 1 number
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword">
                        <span class="text-danger"
                            *ngIf="(f.confirmPassword.touched || submitted)&& f.confirmPassword.errors?.required">
                            Confirm Password is required
                        </span>
                        <span class="text-danger"
                            *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.passwordMismatch">
                            Passwords does not match
                        </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="mt-2 mb-2 btn btn-danger w-full btn-lg">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>