<div class="row">
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-body">

                <form class="form" [formGroup]="cpForm" (ngSubmit)="changePassword()">
                    <br>
                    <h5>Change Password</h5>
                    <div class="form-group">
                        <input formControlName="currentPassword" placeholder="Current Password" type="password">
                        <span class="text-danger" *ngIf="submitted && f.currentPassword.errors?.required">
                            Current Password is required
                        </span>
                    </div>
                    <div class="form-group">
                        <input formControlName="newPassword" placeholder="New Password" type="password">
                        <span class="text-danger" *ngIf="submitted && f.newPassword.errors?.required">
                           New Password is required
                        </span>
                    </div>
                    <div class="form-group">
                        <input formControlName="confirmPassword" placeholder="Confirm Password" type="password">
                        <span class="text-danger" *ngIf="submitted && f.confirmPassword.errors?.required">
                            Confirm Password is required
                        </span>
                        <span  class="text-danger" *ngIf="submitted && f.confirmPassword.errors?.ConfirmPasswordValidator">
                            Password and Confirm Password didn't match.
                        </span>
                    </div>

                    <button type="submit" class="smart-button">Change Password</button>

                </form>
            </div>
        </div>
    </div>
</div>