<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#investModal">
        Launch demo modal
      </button>   -->
<!-- Modal -->
<div class="modal fade" id="investModal" tabindex="-1" role="dialog" aria-labelledby="investModalLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="form" [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title" id="investModalLabel">Buy</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="app-sidebar__heading">{{selectedScheme?.schemeName}}</h6>
          <div class="divider">
          </div>
          <div class="text-center">
            <div role="group" class="btn-group-sm btn-group btn-group-toggle">
              <label class="btn btn-sm btn-outline-primary" [ngClass]="{active: purchaseForm.value.orderType=='l'}">
                <input type="radio" formControlName="orderType" value="l" >
                Lumpsum
              </label>
              <label class="btn btn-sm btn-outline-primary" [ngClass]="{active: purchaseForm.value.orderType=='s'}">
                <input type="radio" formControlName="orderType" value="s" >
                SIP
              </label>
            </div> <br><br>
          </div>
          <div class="form-group">
            <label>Enter amount to invest</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">₹</span>
              </div>
              <input type="text" numOnly="true" class="form-control" formControlName="amount" placeholder="amount">
            </div>
            <span class="text-danger" *ngIf="(f.amount.touched || submitted) && f.amount.errors?.required">
              Amount is required.
            </span>
            <span class="text-danger" *ngIf="(f.amount.touched || submitted) && f.amount.errors?.invalidAmount">
              Do not start with zero or do not enter decimal value.
            </span>

          </div>
          
        </div>
        <div class="modal-footer">
          <div class="col-md-6 m-0">
            <button type="button" class="btn btn-light btn-lg btn-block" data-dismiss="modal"
              (click)="closeModal()">Cancel</button>
          </div>
          <div class="col-md-6 m-0">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Buy</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>