<div class="app-main__inner">
    <div class="row">
        <div class="col-md-4 login-card">
            <div class="main-card mb-12 card">
                <div class="card-body">
                    <div id="logo-icon"><img src="../../../assets/images/logo-icon.png"></div>
                    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                        <br>
                        <h5>Create Mutual Fund account</h5>
                        <br>
                        <div class="form-group">
                            <input type="text" formControlName="firstName">
                            <span class="text-danger" *ngIf="submitted && f.firstName.errors?.required">
                                First name is required
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="lastName">
                            <span class="text-danger" *ngIf="submitted && f.lastName.errors?.required">
                                Last name is required
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" formControlName="email">
                            </div>
                            <span class="text-danger" *ngIf="submitted && f.email.errors?.required">
                                Email is required
                            </span>
                            <span class="text-danger" *ngIf="f.email.touched && f.email.errors?.email">
                                Email is not valid
                            </span>
                            <span class="text-danger" *ngIf="f.email.errors?.emailInUse===true">
                                Email already registered. Please try with another email.
                            </span>
                        </div>

                        <div class="form-group">
                            <input type="password" formControlName="password">
                            <span class="text-danger" *ngIf="submitted && f.password.errors?.required">
                                Password is required
                            </span>
                            <span class="text-danger" *ngIf="f.password.touched && f.password.errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number.
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="password" formControlName="confirmPassword">
                            <span class="text-danger"
                                *ngIf="(f.confirmPassword.touched || submitted)&& f.confirmPassword.errors?.required">
                                Enter your password again
                            </span>
                            <span class="text-danger"
                                *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.passwordMismatch">
                                Passwords does not match
                            </span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="smart-button">Create Account</button>
                        </div>
                        <p>Already Registered? <a routerLink="/auth/login">Login</a></p>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>