<div class="dropdown">
  <button class="mb-2 mr-2 btn-transition btn btn-outline-light" type="button" id="dropdownMenuButton"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-ellipsis-v fa-w-6"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a data-toggle="modal" data-target="#investModal" (click)="selectScheme(scheme);" class="dropdown-item">Invest</a>
    <a data-toggle="modal" data-target="#redeemModal" (click)="selectScheme(scheme);" class="dropdown-item">Redeem</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>