
        <div class="col-md-4 login-card">
            <div class="main-card mb-12 card">
                <div class="card-body">
                    <div id="logo-icon"><img src="../../../assets/images/logo-icon.png"></div>


                    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <br>
                        <h5>Login to Mutual Fund</h5>
                        <div class="social-container">
                            <a class="social" title="google" (click)="signInWithGoogle()">G</a>
                            <a title="facebook" class="social">f</a>
                        </div>
                        <span class="or" >or use your account</span>
                        <div class="form-group">
                            <input formControlName="username" placeholder="Email" type="email">
                            <span class="text-danger" *ngIf="submitted && f.username.errors?.required">
                                Email is required
                            </span>
                            <span class="text-danger" *ngIf="f.username.touched && f.username.errors?.email">
                                Email is not valid
                            </span>
                        </div>
                        <div class="form-group">
                            <input formControlName="password" placeholder="Password" type="password">
                            <span class="text-danger" *ngIf="submitted && f.password.errors?.required">
                                Password is required
                            </span>
                        </div>
                        <button type="submit" class="smart-button">Login</button>

                    </form>
                    <p>Not Registered? <a routerLink="/auth/signup">Create Account</a></p>
                </div>
            </div>
        </div>