<div class="row">
    <div class="col-md-5 login-card">
        <div class="main-card mb-12 card">
            <div class="card-body">               
                <div class="card-title">
                    <h5> INVESTOR LOGIN</h5>
                </div>
                <p>Don't have an account with us? <a routerLink="/auth/signup">Click here</a></p>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                    <div class="position-relative form-group">
                        <input required name="email" id="exampleEmail" placeholder="Email" type="email"
                            class="form-control">
                    </div>
                    <div class="position-relative form-group">
                        <input required name="password" id="examplePassword" placeholder="password" type="password"
                            class="form-control">
                    </div>

                    <button class="mt-2 mb-2 btn btn-danger w-full btn-lg"
                        >Login</button>
                    <div class="card-footer"><a href="javascript:void(0);" style="color: #9ea4a9" class="card-link">
                            Forgot your Password? CLick here</a></div>
                </form>
            </div>
        </div>
    </div>
</div>