<app-loader></app-loader>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header [currentUser]="currentUser" [hasLoggedIn]="hasLoggedIn"></app-header>
  <div class="app-main">
    <app-side-nav [hasLoggedIn]="hasLoggedIn"></app-side-nav>
    <div class="app-main__outer" [ngClass]="{'side-nav-active': hasLoggedIn===false}">
      <div class="app-main__inner">
        <app-page-title [page]="page" *ngIf="hasLoggedIn"></app-page-title>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div><br><br>
  <app-footer></app-footer>
</div>