<div class="app-main__inner">
    <div class="row">
        <div class="col-md-7">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="rounded-text">{{user?.firstName.substring(0,1)}}</div>
                    <h5 class="card-title">{{user?.firstName}} {{user?.lastName}}</h5>
                    <!-- <p><i class="pe-7s-call"></i>  {{user?.mobile}}</p> -->
                    <p> {{user?.email}}</p>
                    --create personal details entry form---
                    PAN
                    MOBILE
                    BANK INFO
                    NOMINEE
                    DOB
                    INVESTMENT ACCOUNT --- COMPLETE
                </div>
            </div>
        </div>
    </div>
</div>