<footer class="footer-container-wrapper mf-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md footer-logo">
                    <img src="../../../../assets/images/logo.png" width="200" alt="">
                    <p>BajajCapital is India’s premier investment services group engaged inter-alia in the distribution of mutual funds, insurance, fixed deposits, bonds, loans et al.</p>
                </div>
                <div class="col-12 col-md footer-nav">
                    <h4>Offering</h4>
                    <ul>
                        <li><a href="https://www.bajajcapitalinsurance.com/">Insurance</a></li>
                        <li><a href="https://onlinemf.bajajcapital.com/Default.aspx">Mutual Funds</a></li>
                        <li><a href="https://www.bajajcapitalone.com/fixed-deposit/campaign/001/apply-now.html">Fixed Deposits</a></li>
                        <li><a href="https://www.bajajcapital.com/bonds">Bonds</a></li>
                        <li><a href="https://www.bajajcapitalone.com/nps/">National Pension Scheme</a></li>
                        <li><a href="https://www.bajajcapitalone.com/credit-card/">Credit Cards</a></li>
                        <li><a href="https://www.bajajcapitalone.com/loans/personal-loan/">Personal Loan</a></li>
                        <li><a href="https://www.bajajcapitalone.com/loans/home-loan/campaign/002/apply-now.html">Home Loan</a></li>
                        <li><a href="http://www.bajajcapitalrealty.com/">Real Estate</a></li>
                        <li><a href="https://bajajcapital.com/dpservices/dp-service.aspx">DP Services</a></li>
                        
                        <li><a href="http://www.anindia.com/">Partner With Us</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md footer-nav">
                    <h4>Corporate Office</h4>
                    <p>
                        <strong>Bajaj Capital Ltd.</strong><br>
                        97, Bajaj House, Nehru Place, New Delhi - 110019
                    </p>
                    
                    <p>In case of any queries, feel free to call or write to us. We will be very happy to assist you.</p>
                    <p>Please call our customer care center between <span class="red">10:00 AM - 6:00 PM</span> IST Monday to Saturday.</p>
                </div>
                <div class="col-12 col-md footer-nav">
                    <h4>Contact</h4>
                    <p>
                        <strong>Phone</strong><br>
                        <a href="tel:1800313123123">1800-313-123-123</a>
                    </p>
                    <p>
                        <strong>Customer Care</strong><br>
                        <a href="mailto:mfconnect@bajajcapital.com">mfconnect@bajajcapital.com</a>
                    </p>
                    <p>
                        <strong>Account Opening Related Queries</strong><br>
                        <a href="mailto:mfao@bajajcapital.com">mfao@bajajcapital.com</a>
                    </p>
                    <p>
                        <strong>Payment Related Queries</strong><br>
                        <a href="mailto:mfrms@bajajcapital.com">mfrms@bajajcapital.com</a>
                    </p>
                </div>
                
            </div>
        </div>
      
    </footer>