<section class="inner-page-banner carousel-banner">
    <div id="bannerCarousel" class="tab-dots carousel slide" data-ride="carousel" data-interval="6000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <img src="../../../assets/images/mf-hero-banner.jpg" class="banner-img" alt="">
                    <div class="banner-caption blackC">
                        <h2 class="card-title section-title">Get Your FREE Account with Bajaj Capital <span></span></h2>
                        <br>
                        <a routerLink="/auth/signup" class="btn-danger btn btn-lg">Get Started</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<div class="banner-bottom-pane">
    <div class="container">
        <h4 class="d-md-none">Your Trusted Financial Partner</h4>
        <ul class="d-flex justify-content-between" id="counter">
        <li>
            <h2><span class="counter-value" data-count="56">56</span><sup>+</sup> Years</h2>
            <h5>of Experience</h5>
        </li>
        <li>
            <h2>₹<span class="counter-value" data-count="27">27</span>,600<sup>+</sup> Cr</h2>
            <h5>Assets under Advisory</h5>
        </li>
        <li>
            <h2><span class="counter-value" data-count="41">41</span><sup>+</sup> Lakh</h2>
            <h5>Investors</h5>
        </li>
        <li class="d-md-block d-none">
            <h2><span class="counter-value" data-count="300">300</span><sup>+</sup></h2>
            <h5>Branches across 100 cities</h5>
        </li>
        <li class="d-md-block d-none">
            <h2><span class="counter-value" data-count="4">4</span>,200<sup>+</sup></h2>
            <h5>Employees</h5>
        </li>
    </ul>
    </div>
</div>
<br><br>
<app-footer></app-footer>

