<table class="mb-0 table">
    <thead>
        <tr>
            <!-- <th>#</th> -->
            <th>Action</th>
            <th>Scheme Name</th>
            <th>NAV</th>
            <th>Return(3yrs)</th>
            <th>Risk</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of schemeList">
            <!-- <th scope="row"><img width="42" src="assets/images/avatars/{{item.imgPath}}" alt=""></th> -->
            <td>
                <app-action-button (loadScheme)="initScheme($event)" [scheme]="item"></app-action-button>
            </td>
            <td><a [routerLink]="['/scheme-details', item.schemeName|urlFriendly]">{{item.schemeName}} </a></td>
            <td class="big">{{item.NAV|number:'.2-2'}} </td>
            <td class="big">{{item.return}}%</td>
            <td class="risk">{{item.risk}}</td>
            <td><span class="badge badge-pill badge-success">{{item.rating}}<i class="fa fa-star star" aria-hidden="true"></i>
            </span></td>

        </tr>
    </tbody>
</table>
<div *ngIf="selectedScheme">
    <app-purchase-modal [selectedScheme]="selectedScheme"></app-purchase-modal>
    <app-redeem-modal [selectedScheme]="selectedScheme"></app-redeem-modal>
</div>