<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Action
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a (click)="invest('invest')" class="dropdown-item">Invest</a>
          <a (click)="invest('redeem')" class="dropdown-item">Switch</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>